@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-700 antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-900;
  }
}
