@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-700 antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-slate-900;
  }
}

@keyframes branch-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
